<div>
  <h1>
  <%= link_to image_tag("mobile1.png", size: "1170x500") %>
  </h1>
</div>

<div class="container">
  <div class="row">
  <h2>
    <div class="col-md-3">
    <%= link_to image_tag("mobile2.png", size: "150x170") %>
      <h3>Samsung Galaxy J6+
            3.595.000đ
      </h3>
    </div>

    <div class="col-md-3">
    <%= link_to image_tag("mobile3.png", size: "150x170") %>
      <h3>Samsung Galaxy M20
          4.990.000đ
      </h3>
    </div>

    <div class="col-md-3">
    <%= link_to image_tag("mobile4.png", size: "150x170") %>
      <h3>Iphone 6S Plus 32G
          9.990.000đ
      </h3>
    </div>

    <div class="col-md-3">
    <%= link_to image_tag("mobile5.png", size: "150x170") %>
      <h3>Iphone X 64G Quốc Tế
            22.990.000đ
      </h3>
    </div>

    <div class="col-md-3">
    <%= link_to image_tag("mobile6.png", size: "150x170") %>
      <h3>Iphone 8 Plus 64G
            20.990.000
      </h3>
    </div>

    <div class="col-md-3">
    <%= link_to image_tag("mobile7.png", size: "150x170") %>
      <h3>Iphone 7 Plus 32G
            13.990.000đ
      </h3>
    </div>
    <div class="col-md-3">
    <%= link_to image_tag("mobile8.png", size: "150x170") %>
      <h3>Samsung Galaxy Note 9 512G
            24.490.000đ
      </h3>
    </div>
    <div class="col-md-3">
    <%= link_to image_tag("mobile9.png", size: "150x170") %>
      <h3>Samsung Galaxy Note 9 512G
            24.490.000đ
      </h3>
    </div>
    <div class="col-md-3">
    <%= link_to image_tag("mobile10.png", size: "150x170") %>
      <h3>Iphone Xs Max 64G
            29.990.000đ
      </h3>
    </div>
    <div class="col-md-3">
    <%= link_to image_tag("mobile11.png", size: "150x170") %>
      <h3>Samsung Galaxy S9+ 64G
            16.990.000đ
      </h3>
    </div>
    <div class="col-md-3">
    <%= link_to image_tag("mobile12.png", size: "150x170") %>
      <h3>Iphone Xr 128G
            20.490.000đ
      </h3>
    </div>
    <div class="col-md-3">
    <%= link_to image_tag("mobile13.png", size: "150x170") %>
      <h3>Samsung Galaxy J4 Core
            2.390.000
      </h3>
    </div>
  </h2>
  </div>
</div>
